

#marco{
    border: 2px solid black;
    width: 40%;
    height: 430px;
    margin:0 auto;
    text-align: center;
    font-size: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-wrap: break-word;


}
#cuadroTexto{
    border: 2px solid green (250, 6, 6);
    width: 40%;
    height: 60px;
    margin: 10% initial;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: break-word;
    
}
#cuadroTextoj{
    border: 2px solid pink (57, 168, 219);
    width: 40%;
    height: 60px;
    position: relative;
    left: 525px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    overflow-wrap: break-word;
}
